header {
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  position: relative;margin: 0 auto;
}

.lista-menu { 
  display: none;
  position: fixed!important;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  top: 106px;
  background: #f2f2f2;
  padding:5px 10px;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .2);
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  width: 320px;
  box-sizing: border-box;
  height: calc(100% - 106px);
}

::-webkit-scrollbar-button {
  display: block;
  background-color: rgba(0, 0, 0, .2);
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(62,161,219,1) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color:rgba(62,161,219,1);
    border-radius: 0px;
    border: 3px solid #ffffff;
  }

.lista-menu li a {
    padding: 10px 5px;
    text-align: start;
    text-transform: uppercase;
    transition: 0.1s;       
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #40403F;
    width: 100%;
    box-sizing: border-box;
  }

  .lista-menu li a[href^="#exer11"] {
    border: none;
  }


  .lista-menu li a:hover {
    background-image: linear-gradient(to right,#246BFD 11.2%,  rgba(62,161,219,1) 100.2%);
    color: #eee ;
  }


.grid-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 90px;
}
.grid-darklogo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  max-width: 80px;
}

.logo2 {
  max-width: 80px;
  display: none;
}

.darklogo {
  width: 40px;
  cursor: pointer;
}

.titulo {
  text-transform: capitalize;
}

         
.btn-grad {
  background-image: linear-gradient(to right,#246BFD 11.2%,  rgba(62,161,219,1) 100.2%);
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  background-size: 200% auto;
  color: #f2f2f2;            
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.menu {
  transition: .3s;
  cursor: pointer;
  width: 40px;
  padding: 20px 40px;
}

.ativar-menu {
  transform: rotate(90deg);
}

.ativar-dropdown {
  display: flex;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.lista-menu .link-none {
  color: #eee;
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    width: 40px;
  }
  .grid-logo {
    display: none ;
  }
  .darklogo {
    display: none;
  }
}

@media (max-width: 750px) {
  .header {
    gap: 20px;
    flex-wrap: wrap;
  }
  .header .btn-grad {
    font-size: 1rem;
    padding: 10px;
  }
  .menu {
  
    width: 30px;
   
  }
}

@media (max-width: 650px) {
  .header {
    padding: 5px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #40403F;
    align-items: center;
  }
  .logo2 {
    display: inline-block;
    width: 40px;
  }
  .header .btn-grad {
    display: none;
  }
  .lista-menu li .link-none {
    display: block;
    font-size: .75rem;
    text-align: end;
    padding: 5px 10px;
  }
  .lista-menu {
    overflow: initial;
    left: initial;
    right: 0;
    top: 52px;
    padding: 5px 10px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    height: max-content;
    gap: 2px;
  }
  .lista-menu li a{
    font-size: .75rem;
    padding: 2px;
    text-align: center;
  }

  .lista-menu li br {
    display: none;
  }

  .menu {
    margin: 0px;
    padding: 10px;
    width: 20px;
    margin-bottom: -5px;
  }

  .lista-menu li a[href^="#ex"] {
    display: none;
  }

  .lista-menu li a[href^="#de"] {
    display: none;
  }

  .lista-menu li a[href^="#aula14"] {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .grid-darklogo {
    display: none;
   }
}
