header {
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  position: relative;margin: 0 auto;
}

.lista-menu { 
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 107px;
  background: #f2f2f2;
  padding: 5px 10px;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  gap: 2px;
  flex-direction: column;
  height: min-content;
}


.lista-menu li a {
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;         
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    display: block;
    font-size: .8rem;
    transition: .1s;
    font-weight: 600;
    color: #40403F;  
  }


  .lista-menu li a:hover {
    background-image: linear-gradient(to right,#246BFD 11.2%,  rgba(62,161,219,1) 100.2%);
    color: #eee ;
  }


.grid-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  max-width: 80px;
}

.logo2 {
  max-width: 80px;
  display: none;
}

.titulo {
  text-transform: capitalize;
}

         
.btn-grad {
  background-image: linear-gradient(to right,#246BFD 11.2%,  rgba(62,161,219,1) 100.2%);
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  background-size: 200% auto;
  color: #f2f2f2;            
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.menu {
  transition: .3s;
  cursor: pointer;
  width: 40px;
  padding: 20px 40px;
  margin-left: 30px;
}

.ativar-menu {
  transform: rotate(90deg);
}

.ativar-dropdown {
  display: flex;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.lista-menu .link-none {
  color: #eee;
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    width: 40px;
  }
  .grid-logo {
    display: none ;
  }
}

@media (max-width: 750px) {
  .header {
    gap: 20px;
    flex-wrap: wrap;
  }
  .header .btn-grad {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #40403F;
  }
  .logo2 {
    display: inline-block;
    width: 60px;
  }
  .header .btn-grad {
    display: none;
  }
  .lista-menu li .link-none {
    display: block;
    font-size: .75rem;
    text-align: end;
    padding: 5px 10px;
  }
  .lista-menu {
    box-sizing: border-box;
    left: initial;
    right: 0;
    top: 80px;
    padding: 5px 10px;
  }
  .lista-menu li a{
    font-size: .75rem;
    padding: 2px;
  }

  .menu {
    margin: 0px;
    padding: 10px;
    width: 30px;
  }

  .lista-menu li a[href^="#ex"] {
    display: none;
  }

  .lista-menu li a[href^="#de"] {
    display: none;
  }

  .lista-menu li a[href^="#aula14"] {
    border-bottom: none;
    padding-bottom: 0px;
  }
}
