.intro {
  margin: 0 auto;
  margin-top: 200px;
  justify-content: center;
}
.bemvindo {
  display: grid;
  justify-items: center;
  gap: 60px;
  padding: 80px 0px;
}


.bemvindo h2 {
  font-size: 8rem;
  text-align: center; 
  font-weight: 700;
  line-height: 1;
}

.id-curso{
  margin-top: -40px;
}

@media (max-width: 1000px) {
  .bemvindo h2 {
    font-size: 6rem;
  }
}

@media (max-width: 800px) {
  .bemvindo h2 {
    font-size: 3rem;
  }
  .bemvindo p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .intro #seta {
  display: none;
}
  .intro {
    margin-top: 100px;
  }
  .bemvindo h2 {
    text-transform: uppercase;
    font-size: 2.125rem;
  }
  .bemvindo p {
    font-size: 1rem;
    text-align: center;
  }
  .bemvindo .btn-grad {
    font-size: .7rem;
    padding: 10px 20px;
  }
  .id-curso {
    font-size: .5rem;
  }
  .bem-vindo {
    padding: 30px 30px;
  }

}